.login {
    max-width: 358px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 60px auto;
  }
  
  @media screen and (max-width: 500px) {
    .login {
      padding: 25px 22px;
    }
  }