.cards {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 420px) {
  .cards {
    max-width: 282px;
    padding-top: 36px;
  }
}