.header {
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 45px auto 40px;;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

@media screen and (max-width: 620px) {
  .header {
    margin: 28px auto 42px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }
}