.register__login-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.register__login-link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}
